
## Required Tokens ##

REDMINE_KEY="da5266f75ba51a069e80db11f63e773531cfea48"
REDMINE_URL="https://tasks.ast.cloudv.tricity.help"

SONAR_KEY="squ_0abe749c7b00ebeaddb4f2d4f0f6f810ef940630"
SONAR_URL="https://sonar.ast.cloudv.tricity.help"

GITHUB_KEY=""

JENKINS_KEY="11d47ca08bf1b3bf4e94be20b81364ef23"
JENKINS_URL="https://jenkins.ast.cloudv.tricity.help"


DB_HOST="192.168.2.245"
DB_PORT="3306"
DB_USER="demo"
DB_PASS="demo@123"
DB_NAME="AST_DB"


## SECURITY PARAMS FOR BLOCKING THE PIPLEINE ##

CVE_BLOCKER="MAJOR"		
MINIMUM_VULNS="1"
